/* Footer */
body{
  font-family: 'Roboto';
}
.footer {
  background: #1c849eff;
  color: white;
  padding: 40px 20px;
}

.footer-logo {
  display: flex;
  gap: 15px;
  align-items: left;
}

.footer-logo img {
  height: 100px;
  justify-content: center;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-col h2.logo {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-col h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-col p,
.footer-col li,
.footer-col a {
  font-size: 14px;
  line-height: 1.6;
  color: white;
  text-decoration: none;
}

.footer-col .bold {
  font-weight: bold;
  margin-top: 8px;
}

.footer-col .small {
  font-size: 14px;
  margin: 5px 0;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 25px 0;
}

.footer-col a:hover {
  text-decoration: underline;
}

.order-logos {
  display: flex;
  gap: 27px;
  align-items: center;
}

.order-logos img {
  height: 35px;
  border-radius: 50%;
  object-fit: contain;
}

.copyright {
  background: white;
  color: #333;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
}


@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
  }

  .order-logos {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-logo img {
    height: 70px;
  }
}

