/* Navbar */
#navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  background-color: #F6A107ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 150px;
}

.navbar img{
height: 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.navbar ul li a:hover {
  text-decoration: none;
}
